.page {
  background-image: url("https://res.cloudinary.com/martacloud/image/upload/v1735737836/fondo1_zlakd1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: grid;
  grid-template-areas:
    "header header header about about tech"
    "ex ex rec rec contact contact";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  min-height: inherit;
  gap: 30px;
  padding: 80px;
}

.header {
  border: 1px solid black;
  grid-area: header;
}

.about {
  border: 1px solid black;
  grid-area: about;
}

.techstack {
  border: 1px solid black;
  grid-area: tech;
}

.experience {
  border: 1px solid black;
  grid-area: ex;
}

.recommendations {
  border: 1px solid black;
  grid-area: rec;
}

.contact {
  border: 1px solid black;
  grid-area: contact;
}

@media (max-width: 1100px) {
  .main {
    grid-template-areas:
      "header header header header header header"
      "about about about about tech tech"
      "ex ex ex ex ex ex"
      "rec rec rec contact contact contact";
  }
}

@media (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "about"
      "tech"
      "ex"
      "rec"
      "contact";
  }
}
